.header-bar {
  @include box-shadow(1px 4px 15px 0px rgba(0, 0, 0, 0.1));
  background-color: $panel-default-heading-bg;
  font-size: $header-bar-font-size;
  font-weight: 600;
  margin: {
    bottom: 15px;
    top: 0;
  }
  padding: $header-bar-padding;
  max-width: 100%;

  &.header-bar-primary {
    background-color: $brand-primary;
    color: white;

    a {
      color: white;

      &:hover,
      &:active {
        color: darken(white, 10%);
      }
    }
  }

  &.header-bar-success {
    background-color: $brand-success;
    color: white;
  }

  &.header-bar-info {
    background-color: $brand-info;
    color: white;
  }

  &.header-bar-warning {
    background-color: $brand-danger;
    color: white;
  }

  &.header-bar-danger {
    background-color: $brand-danger;
    color: white;

    a {
      color: white;

      &:hover,
      &:active {
        color: darken(white, 10%);
      }
    }
  }

  &.header-bar-danger-light {
    background-color: $brand-danger-light;
    color: white;
  }

  &.header-bar-dark {
    background-color: #5d6779;
    color: white;
  }
}
